body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-columns: 80px 500px 80px;
    gap: 6px;
}

header {
    grid-column: 1 / 4;
}

nav {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

main {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

footer {
    
}

header, nav, main, footer {
    background-color: #BBCCFF;
}


