:root {
    --title: #9acd32;
    --fieldset: #333;
    --th: #444;
    --tr-hover: #664;
    --bg-td-id_del: #333;
    --A: darkgreen;
    --B: #009900cc;
    --C: #cccc00cc;
    --D: #cc6600cc;
    --E: #cc0000cc;

    --border-radius: 0.3rem;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #111;
    color: #e0e0e0;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

button {
    font-size: 1rem;
}
