* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 2rem;
    background: #000;
    scale: 0.9;
}

#app {
    background-image: url('tapis-vert.jpg');
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1000px;
    min-width: 750px;
    margin: auto;
    border: 5px solid #633211;
    border-radius: 20%;
    padding: 2rem 0;
}

h1 {
    color: #000000be;
    text-shadow: 1px 01px 0px #b3b3b38e;
}
h2 {
    color: #000000cb;
    text-shadow: 1px 01px 0px #b3b3b39d;
}
