:root {
    --bg: #250001;
    --bg-elem: #580004;
    --label-color: #c29a23;
    --border-color: #840104;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--bg);
    color: white;
    padding: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#appli {
    border: 1px solid white;
    padding: 0.5rem;
    width: 650px;
}

h1 {
    font-size: 2rem;
}

label {
    color: var(--label-color);
    font-size: 0.8rem;
}

input,
select,
button {
    background: var(--bg-elem);
    border: 1px solid var(--border-color);
    width: 100%;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem 0.3rem;
}
input:focus {
    outline: none;
}
button {
    cursor: pointer;
}

progress {
    height: 15px;
    appearance: none;
    background: var(--bg-elem);
}

.progress {
    width: 100%;
    height: 15px;
    background-color: var(--bg-elem);
    border: 1px solid var(--border-color);
    overflow: hidden;
    margin-top: 10px;
}

.bar {
    width: 100%;
    height: 100%;
}

.progress-value {
    height: 100%;
    background-color: var(--label-color);
    width: 0%;
    transition: width 0.1s linear;
}

#fuels {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.5rem;

    h2 {
        margin-top: 0.4rem;
    }
}

#fuels-box {
    display: flex;
    background: var(--bg-elem);
}

.fuel-card {
    border: 1px solid var(--border-color);
    padding: 0.15rem;
    width: 85px;
    display: flex;
    flex-direction: column;
    gap: 0.15rem;

    h5 {
        font-size: 0.95rem;
    }
    span {
        font-size: 0.7rem;
        text-wrap: nowrap;
    }
    input {
        border: none;
        padding: 0.1rem 0.2rem;
    }
}

#pumps {
    margin: 1.5rem 0 0.5rem;
    display: flex;
    gap: 0.5rem;

    h2 {
        margin-bottom: 0.3rem;
    }
}

#gas-pump1,
#gas-pump2 {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.6rem;
}

.form-inline {
    display: flex;
}

.form-grp {
    display: flex;
    align-items: center;

    label {
        width: 100px;
    }
    input {
        width: 70px;
        margin-right: 0.3rem;
    }
}

.limit-radios {
    display: flex;
    align-items: center;
    label {
        padding: 0 0.5rem 0 0;
        width: 50px;
    }
    input {
        width: 10px;
        background: var(--bg-elem);
    }
}

#bills h2 {
    margin-top: 1rem;
}

table {
    margin: .5rem 1rem;
    width: calc(100% - 2rem);
}

table,
tr,
th,
td {
    font-size: 0.8rem;
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    background: var(--bg-elem);
    padding: 0.2rem 0.3rem;
}

tfoot {
    color: var(--label-color);
}

img {
    width: 650px;
}
