:root {
    --base-bg: #111111;
    --base-txt: #CCCCCC;
    --base-link: #E4D9FF;
    --base-btn: #085E8F;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--base-bg);
    color: var(--base-link);
}

main {
    border: 1px solid var(--base-link);
    padding: 1rem;
    border-radius: .6rem;
}

h1 {
    margin-top: 0;
}

#results {
    display: flex;
    gap: .2rem;
}

#results div {
    background: var(--base-link);
    color: var(--base-btn);
    padding: .3rem .5rem;
    border-radius: .6rem;
}

#country {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .3rem;
}

label {
    background: var(--base-btn);
    display: flex;
    gap: .6rem;
    flex-direction: row-reverse;
    justify-content: start;
    cursor: pointer;
    padding: .3rem .5rem;
    border-radius: .6rem;
}

input {
    background: var(--base-link);
    cursor: pointer;
}

table {
    margin-top: 1rem;
    background: var(--base-btn);
    width: 100%;
    border-radius: .6rem;
}

th, td {
    padding: .3rem .5rem;
}
