* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 22px;
    background: #4e6c67;
    color: #f7f7f7;
}

#app {
    padding: 1rem;
}

button {
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px #383838;
    transition: all 0.3s ease-in-out;
}

#home {
    height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-align: center;

    h1 {
        color: #b3cf12;
        font-size: 4rem;
        margin-bottom: 1rem;
        text-shadow: 0 -3px 5px #383838;
    }
    p {
        line-height: 2.5rem;
    }
    button {
        color: #f7f7f7;
        background: #2e8f3e;
        &:hover {
            background: #1a802b;
        }
    }
}

#game {
    header {
        color: #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;

        h1 {
            text-shadow: 0 3px 5px #000;
            font-size: 3rem;
        }
        p {
            text-shadow: 0 2px 3px #000;
            font-size: 1.8rem;
        }
    }
    article {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #container-canvas {
        border: 25px solid #252525;
        box-shadow: 0 20px 25px #000000;
        border-radius: 2.2rem;
        display: flex;
    }
    #board {
        background: linear-gradient(180deg, #2c2c2c, #424242 100%);
        border-top: 15px solid #222;
        border-bottom: 15px solid #666;
        border-right: 15px solid #474747;
        border-left: 15px solid #474747;
        box-shadow: 0 -12px 35px #8a8a8a;
        border-radius: 0.7rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
}
