:root {
    --color-h1: #000;
    --bg-nav: #0d8a5a;
    --bg-input: #0d8a5a30;
    --bg-input-hover: #0d8a5a50;
    --color-th: #ffff01;
    --bg-tr-hover: #aaaaaa50;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid var(--color-h1);
    min-width: 480px;
}

a {
    text-decoration: none;
}

header {
    background-image: url('./legumos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

nav {
    background: var(--bg-nav);
}

nav .container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0 1.5rem;

    ul {
        list-style: none;
        padding: 0.8rem 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 3rem;

        a {
            color: white;
            text-transform: uppercase;
            padding: 1rem;
            text-wrap: nowrap;
        }
    }
    .router-link-active {
        text-decoration: underline;
    }
}

main {
    padding: 1rem 3rem 2rem;
}

#title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        padding: 0;
    }
}

table {
    margin: auto;
    color: blue;
}

th {
    background: var(--bg-nav);
    color: var(--color-th);
    padding: 0.4rem 1.8rem;
}

th:not(th:last-child),
td:last-child span {
    cursor: pointer;
}

tbody tr:hover {
    background: var(--bg-tr-hover);
}

td {
    padding: 0.2rem 0.5rem;
}

#empty-table {
    text-align: center;
}

#sales-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    transition: all 0.3s;

    div {
        color: #fff;
        min-width: 300px;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h4 {
            font-size: 1.3rem;
            margin: 0;
            text-wrap: nowrap;
        }
    }
    div:hover {
        scale: 1.05;
    }
    .sale-active {
        background: var(--bg-nav);
    }
    .sale-inactive {
        background: var(--bg-input-hover);
    }
}

#pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    span {
        width: 80px;
        text-align: center;
    }
}

form {
    max-width: 460px;
    min-width: 390px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .form-grp {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

label:not(.label-radio) {
    width: 55%;
}

#box-radio {
    margin: 0.3rem 0 0.4rem;
}

input,
.label-radio,
select,
button {
    background: var(--bg-input);
    border: 1px solid;
    transition: all 0.3s ease-in-out;
}

input,
select,
button {
    padding: 0.3rem 0.5rem;
    line-height: 1.2rem;
}

input:not(input[type='submit']),
select {
    width: 35%;
}

.label-radio {
    padding: 0.4rem 0.5rem;
    margin-right: 0.6rem;
    border: 1px dotted;
    font-size: 0.8rem;
}

input[type='radio'] {
    display: none;
}

input[type='radio']:checked + label {
    border: 1px solid;
}

input[type='submit'],
select,
.label-radio {
    cursor: pointer;
}

input:hover,
input:focus,
.label-radio:hover,
select:hover,
select:focus,
button:hover {
    background: var(--bg-input-hover);
    outline: none;
}

#error-form {
    color: red;
    text-align: center;
    margin-bottom: 1rem;
}
