:root {
    --color-light: #707070;
    --color-dark: #4b4b4b;
    --border-table: #d3d3d3;
    --highlight-table: #ececec;
    --hover-table: #e0e0e0;
    --btn-duplicate: #3298DC;
    --btn-delete: #F14668;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--color-light);
    font-size: 14px;
}

main {
    width: 80vw;
    margin: auto;
}

h1 {
    color: var(--color-dark);
}

table {
    width: 100%;
}

table, tr, th, td {
    border: 1px solid var(--border-table);
    border-collapse: collapse;
}

th {
    font-size: 1rem;
    padding: .7rem .5rem .6rem;
}

th div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: none;
}

tbody tr:nth-child(even) {
    background: var(--highlight-table);
}

tbody tr:hover {
    background: var(--hover-table);
}

tbody td {
    padding: .2rem .5rem .1rem;
}

tbody td:last-child {
    display: flex;
    justify-content: center;
    gap: .5rem;
    border: none;
}

tfoot td {
    color: var(--color-dark);
    font-weight: bold;
    font-size: 1rem;
    padding: .7rem .5rem .6rem;
    text-align: center;
}

.btn-sort {
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: .7rem;
    border: 1px solid var(--border-table);
}

.btn {
    padding: .6rem .8rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: .4rem;
}

.btn-duplicate {
    background: var(--btn-duplicate);
}

.btn-delete {
    background: var(--btn-delete);
}