:root {
    font-family: "Titillium Web";
    color: #111;
    font-size: 22px;
}

body {
    width: 100vw;
    min-width: 300px;
}

header {
    height: 80px;
    margin: auto;
}

#brand {
    font-size: 2rem;
    color: #BBBBBB;
}

header ul {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

section {
    border: 1px solid red;
}

#accueil, #page2, #page5 {
    height: 100vh;
}

#accueil {
    background: linear-gradient(#362f2831, #362f2831),  
        url('https://assets.nicepagecdn.com/d2cc3eaa/2298516/images/26193-min.jpg') center no-repeat;
    background-size: cover;
}

#page3 {
    height: 50vh;
}

#page4 {
    height: 150vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrap {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    margin: auto;
}

.card {
    display: flex;
}

a {
    text-decoration: none;
    color: #111;
}

h2 {
    font-size: 4.4rem;
    line-height: 4.9rem;
    color: white;
    text-shadow: 3px 3px 10px #5c5c5c;
    width: 70%;
    margin: auto;
    text-align: center;
}

.label-hamburger, #hamburger {
    display: none;
}

@media (max-width: 1200px) {
    .label-hamburger {
        display: block;
    }

    header {
        ul {
            display: block;
            position: absolute;
            width: 100%;
            top: -200px;
            left: 0;
            transition: .5s ease-in-out;
            background: white;
        }

    }

    #hamburger:checked ~ ul {
        top: 80px;
    }
}
