:root {
    --color-base: #fff;
    --color-info: #ccc;
    --border-color: #111;
    --bg-color-main: #44474e;
    --bg-color-title-box: #33373e;
    --bg-color-thead: #293539;
    --bg-color-tr-dark: #374046;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color-main);
    color: var(--color-base);
    padding: 0.2rem;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
}

section {
    border: 2px solid var(--border-color);
}

.title-box {
    background: var(--bg-color-title-box);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0.2rem;
    padding-left: 0.6rem;
    border-bottom: 2px solid var(--border-color);
}

table,
tr,
th,
td {
    border: none;
    border-collapse: collapse;
}

thead {
    background: var(--bg-color-thead);
}

tbody {
    background: var(--bg-color-tr-dark);
}

th,
td {
    padding: 0.6rem;
}

#table-commande {
    width: 100%;
}

#table-commande td:not(td:last-child) {
    text-align: center;
}

#table-commande tbody tr:nth-child(odd) {
    background: var(--bg-color-main);
}

button {
    background: var(--bg-color-title-box);
    color: var(--color-base);
    padding: 0.6rem 0.8rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.boulangerie {
    display: flex;
    justify-content: space-between;

    img {
        width: 20%;
        transform: scaleX(-1);
    }
    table tr {
        background: var(--bg-color-main);
    }

    button {
        border-radius: 50%;
        scale: .6;
        font-size: 1.5rem;
    }
}
