:root {
    --color-base: #fff;
    --color-info: #ccc;
    --border-color: #111;
    --bg-color-main: #44474e;
    --bg-color-title-box: #33373e;
    --bg-color-thead: #293539;
    --bg-color-tr-dark: #374046;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color-main);
    color: var(--color-base);
    padding: 0.2rem;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem;
}

section {
    border: 2px solid var(--border-color);
}

.title-box {
    background: var(--bg-color-title-box);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0.2rem;
    padding-left: 0.6rem;
    border-bottom: 2px solid var(--border-color);
}

table,
tr,
th,
td {
    border: none;
    border-collapse: collapse;
}

thead {
    background: var(--bg-color-thead);
}

tbody {
    background: var(--bg-color-tr-dark);
}

th,
td {
    padding: 0.6rem;
}

#table-commande {
    width: 100%;
}

#table-commande td:not(:last-child) {
    text-align: center;
}

#table-commande tbody tr:nth-child(odd) {
    background: var(--bg-color-main);
}

button {
    background: var(--bg-color-title-box);
    color: var(--color-base);
    padding: 0.6rem 0.8rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.boulangerie {
    display: flex;
    justify-content: space-between;

    img {
        width: 220px;
        height: 200px;
        transform: scaleX(-1);
        margin: .2rem;
    }
    table {
        width: 400px;
    }
    tr {
        background: var(--bg-color-main);
    }
    td:not(:first-child) {
        text-align: right;
    }
    td:first-child{
        width: 200px;
        color: var(--color-info);
    }
    td:nth-child(2) {
        width: 100px;
    }
    td:nth-child(3) {
        width: 20px;
    }
    td:last-child{
        width: 80px;
    }
    button {
        border-radius: 50%;
        padding: .2rem .4rem;
    }
}
