table, tr, th, td {
    border-collapse: collapse;
}

table {
    border: 2px solid #000;
}

thead {
    background: #ddd;
}

tr {
    border: 1px solid #aaa;
}

tr:nth-child(even) {
    background: #e6e6e6;
}

th, td {
    padding: .4rem .8rem;
}

th {
    border: 1px solid #aaa;
}

tfoot {
    border-top: 2px solid #000;
}

label {
    display: inline-block;
    width: 25%;
}
