:root {
    --color-base: #fff;
    --color-info: #ccc;
    --border-color: #111;
    --bg-color-main: #44474e;
    --bg-color-title-box: #33373e;
    --bg-color-thead: #293539;
    --bg-color-tr-dark: #374046;
    --bg-color-btn-hover: #55575e;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color-main);
    color: var(--color-base);
    padding: 0.2rem;
    min-width: fit-content;
}

#app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2.5rem;
    gap: 1rem;
}

section {
    border: 2px solid var(--border-color);
}

.title-box {
    background: var(--bg-color-title-box);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding: 0.2rem;
    padding-left: 0.6rem;
    border-bottom: 2px solid var(--border-color);
}

button {
    background: var(--bg-color-title-box);
    color: var(--color-base);
    padding: 0.6rem 0.8rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 0.4s ease;
}

button:hover {
    background: var(--bg-color-btn-hover);
}

table,
tr,
th,
td {
    border: none;
    border-collapse: collapse;
}

thead {
    background: var(--bg-color-thead);
}

tbody {
    background: var(--bg-color-tr-dark);
}

th,
td {
    padding: 0.4rem;
    text-align: center;
    text-wrap: nowrap;
}

#table-order {
    width: 100%;

    tbody tr:nth-child(odd) {
        background: var(--bg-color-main);
    }
    th:not(:last-child),
    td:not(:last-child) {
        text-align: center;
        width: calc(100% / 8);
    }
    th:last-child,
    td:last-child {
        text-align: left;
    }
    button {
        padding: 0.3rem;
    }
}

.bakery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        width: 180px;
        height: 165px;
        transform: scaleX(-1);
        margin: 0.1rem;
    }
    tbody {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        background: var(--bg-color-main);
    }
    tr {
        display: grid;
        grid-template-columns: 100px 200px 40px 200px;
    }
    td {
        text-wrap: nowrap;
        padding: 0.35rem;
    }
    td:not(:first-child) {
        text-align: right;
    }
    td:first-child {
        color: var(--color-info);
        text-align: left;
    }
    button {
        border-radius: 50%;
        padding: 0.2rem 0.4rem;
    }
}

.log {
    width: 100%;
    padding: 0.5rem;

    p {
        padding: 0.2rem 0;
        font-family:
            'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
